<div class="container">  

    <div class="formulario">

      <div class="entrar">

        <label class="texto">Nome Completo</label>
        <input class="email" type="text" name="nome" placeholder="E-mail">

        <label class="texto">CPF</label>
        <input class="email" type="text" name="cpf" placeholder="E-mail">

        <label class="texto">E-mail</label>
        <input class="email" type="text" name="email" placeholder="E-mail">

        <label class="texto">Senha</label>
        <input class="password" type="text" name="senha" placeholder="********">
        
        <label class="texto">Confirmar Senha</label>
        <input type="password" name="senha" placeholder="********">
    
      </div>

      <button type="submit" name="submit">Cadastrar</button>      
      
    </div>
  
  </div>
