<img class="promocao" src="/propaganda-teste.jpg" alt="Banner de Promoção">

<img class="destaque" src="/banner-barcelona.jpg" alt="Banner destaque">

<h1 class="lancamento">Lançamentos</h1>
<h1 class="confira">Confira as novidades da loja</h1>

<div class="cartoes">
    <section>
        <img class="imgcard" src="/argentina.jpeg" alt="Camisa da Argentina">
        <button><b>COMPRAR</b></button>
    </section>
    <section>
        <img class="imgcard" src="/barcelona.png" alt="Camisa do Barcelona">
        <button><b>COMPRAR</b></button>
    </section>
    <section>
        <img class="imgcard" src="/inter_milan.jpeg" alt="Camisa da Inter de Milan">
        <button><b>COMPRAR</b></button>
    </section>
    <section>
        <img class="imgcard" src="/portugal.jpeg" alt="Camisa do Portugal">
        <button><b>COMPRAR</b></button>
    </section>
    
    
</div>
