<div class="cabecalho">

  <img (click)="home()" class="logo" src="/assets/image/logo.png" alt="logo">

  <input type="text" name="nome" placeholder="O que você está procurando?">




  <div class="cadastro">
    <img (click)="login()" class="usuario" src="/assets/image/profile-user.png" alt="Foto do usuário">
    <div>
      <h1 (click)="login()">{{texto}}</h1>
      <h5 (click)="login()">{{texto2}}</h5>
    </div>
  </div>

  <div class="imagens">
    <img (click)="login()" class="coracao" src="/assets/image/heart.png" alt="Favoritos">
    <img (click)="login()" class="carrinho" src="/assets/image/shopping-cart.png" alt="Carrinho">
  </div>



</div>
