*{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    

}

.conta{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #efefef;
    border: 1px solid black;
    width: 28%;
    border-radius: 20px;    
    
}
h1{
    font-size: 1rem;
    margin-left: 4px;
}
img{
    max-width: 1.5rem;
    margin: 2px 0px 2px 0px;
}