.container{
    margin-top: 3.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
}


.conta{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #efefef;
    border: 1px solid black;
    width: 28%;
    border-radius: 20px;    
    transition: 0.3s;
    cursor: pointer;
}
.conta:hover{
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
h1{
    font-size: 1rem;
    margin-left: 4px;
}
img{
    max-width: 1.5rem;
    margin: 2px 0px 2px 0px;
}