<div class="container">

    <section class="conta">
        <img src="/assets/image/facebook.png" alt="Facebook">
        <h1>Continuar com o Facebook</h1>        
    </section>

    <section class="conta">
        <img src="/assets/image/gmail.png" alt="Facebook">
        <h1>Continuar com o Google</h1>        
    </section>

    <section class="conta">
        <img src="/assets/image/apple-logo.png" alt="Facebook">
        <h1>Continuar com conta Apple</h1>        
    </section>
    
    
</div>
