<div class="cabecalho">
    <a href="index.html">
        <img class="logo" src="/logo.png" alt="logo">
    </a>       
    
    <input type="text" name="nome" placeholder="O que você está procurando?">

    <a href="login.html">
        <img class="usuario" src="/profile-user.png" alt="Foto do usuário">
    </a>

    <div class="cadastro">
        <a class="entre" href="login.html"><h1>Entre ou cadastre-se</h1></a>
        <a class="pedidos" href="login.html"><h5>Meus pedidos</h5></a>
    </div>             

    <a href="login.html">
        <img class="coracao" src="/heart.png" alt="Favoritos">
    </a>

    <a href="login.html">
        <img class="carrinho" src="/shopping-cart.png" alt="Carrinho">
    </a>        
</div>