.cabecalho{
  background: linear-gradient(50deg, #1c5566, #0d2b33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.logo{
  max-width: 10rem;
  max-height: 6rem;
  margin-left: 5%;
  cursor: pointer;
}

.escudo{
  max-width: 10rem;
  max-height: 6rem;
  margin-right: 5%;
}






@media (max-width: 600px) {
  .logo, .escudo {
    max-width: 80px; /* Ajusta o tamanho das imagens em telas menores */
  }
}
