.cabecalho{
  background: linear-gradient(50deg, #1c5566, #0d2b33);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  position: fixed;
  top: 0;
  width: 100%;

}

.logo{
  width: 150px;
  height: 100px;
  margin-right: 6rem;
  cursor: pointer;
}



