
<div class="container">

    
    <div class="linha1">

        <div class="card">
            <img (click)="torcedor()" src="/assets/image/torcedor-inter_milan-1-2024.jpeg" alt="Camisa Torcedor">
            <h1>Torcedor</h1>
        </div>
        <div class="card">
            <img (click)="jogador()" src="/assets/image/jogador-corinthians-2-2024.jpeg" alt="Camisa Jogador">
            <h1>Jogador</h1>
        </div>
        <div class="card">
            <img (click)="retro()" src="/assets/image/retro-brasil-1-2002.jpg" alt="Camisa Retrô">
            <h1>Retrô</h1>
        </div>
        <div class="card">
            <img (click)="cortavento()" src="\assets\image\corta_vento-alemanha.jpeg" alt="Corta Vento">
            <h1>Corta Vento</h1>
        </div>

    </div>
    <div class="linha2">

        <div class="card">
            <img src="/assets/image/short-inglaterra-1-2024.jpeg" alt="Short">
            <h1>Calção</h1>
        </div>
        <div class="card">
            <img src="/assets/image/NBA-lakers-23.jpg" alt="Regata NBA">
            <h1>NBA</h1>
        </div>
        <div class="card">
            <img src="/assets/image/infantil-flamengo-1-2024.jpeg" alt="Kit Infantil">
            <h1>Kit Infantil</h1>
        </div>
        <div class="card">
            <img src="/assets/image/Bebê-brasil.jpeg" alt="Kit Bebê">
            <h1>Baby Body</h1>
        </div>

    </div>    
</div>


