
<div class="container">

    
    <div class="linha1">

        <div class="card">
            <img (click)="torcedor()" src="/inter_milan.jpeg" alt="Camisa Torcedor">
            <h1>Torcedor</h1>
        </div>
        <div class="card">
            <img src="/Jogador.jpeg" alt="Camisa Jogador">
            <h1>Jogador</h1>
        </div>
        <div class="card">
            <img src="/Retrô.jpg" alt="Camisa Retrô">
            <h1>Retrô</h1>
        </div>
        <div class="card">
            <img src="/Corta.jpeg" alt="Corta Vento">
            <h1>Corta Vento</h1>
        </div>

    </div>
    <div class="linha2">

        <div class="card">
            <img src="/Short.jpeg" alt="Short">
            <h1>Calção</h1>
        </div>
        <div class="card">
            <img src="/NBA.jpg" alt="Regata NBA">
            <h1>NBA</h1>
        </div>
        <div class="card">
            <img src="/Infantil.jpeg" alt="Kit Infantil">
            <h1>Kit Infantil</h1>
        </div>
        <div class="card">
            <img src="/Bebê.jpeg" alt="Kit Bebê">
            <h1>Baby Body</h1>
        </div>

    </div>    
</div>


