<div class="botao">
  <button (click)="estoque_geral()" class="b-e">Modelos</button>
  <button (click)="torcedor()">Torcedor</button>
  <button (click)="jogador()">Jogador</button>
  <button (click)="retro()">Retrô</button>
  <button (click)="cortavento()">Corta Vento</button>
  <button (click)="short()">Short</button>  
  <button (click)="nba()">Regata NBA</button>
  <button (click)="infantil()">Kit Infantil</button>
  <button (click)="baby()">Baby Body</button>
  <button class="b-d">Em alta<img class="fogo" src="/assets/image/fire.png" alt="Fogo"></button>
</div>
