.botao{
  margin-top: 120px;
  background: linear-gradient(150deg, #1c5566, #0d2b33);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 15px;
}

button{
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-size: 14px;
  cursor: pointer;
  background-color: #efefef;
  transition: 0.3s
}
button .fogo{
  margin-left: 5px;
  width: 18px;
  height: auto;
  max-height: 100%;
}

a{
  text-decoration: none;
}
button:hover{
  background-color: #0c272f;
  color: white;
}
