<div class="container">

    <div class="cartao">
        <img class="imgcard" src="/argentina.jpeg" alt="Camisa da Argentina">
        <button><h1>COMPRAR</h1></button>
    </div>
    <div class="cartao">
        <img class="imgcard" src="/barcelona.png" alt="Camisa do Barcelona">
        <button><h1>COMPRAR</h1></button>
    </div>
    <div class="cartao">
        <img class="imgcard" src="/inter_milan.jpeg" alt="Camisa da Inter de Milan">
        <button><h1>COMPRAR</h1></button>
    </div>
    <div class="cartao">
        <img class="imgcard" src="/portugal.jpeg" alt="Camisa do Portugal">
        <button><h1>COMPRAR</h1></button>
    </div>

</div>
