<div class="container">

    <div class="cartao">
        <img class="imgcard" [src]="imagem" alt="Camisa do Arsenal">
        <button><h1>COMPRAR</h1></button>
    </div>
    
    <!--<div class="cartao">
        <img class="imgcard" src="/assets/image/torcedor-barcelona-2-2024.png" alt="Camisa do Barcelona">
        <button><h1>COMPRAR</h1></button>
    </div>
    <div class="cartao">
        <img class="imgcard" src="/assets/image/torcedor-vasco-100anos-2024.jpg" alt="Camisa do Vasco">
        <button><h1>COMPRAR</h1></button>
    </div>
    <div class="cartao">
        <img class="imgcard" src="/assets/image/torcedor-portugal-1-2024.jpeg" alt="Camisa do Portugal">
        <button><h1>COMPRAR</h1></button>
    </div>-->

</div>
