<div class="container">
  

  <div class="formulario">
    <div class="entrar">
      <label class="texto">Entre</label>
      <input class="email" type="text" name="nome" placeholder="E-mail">

      <input type="password" name="senha" placeholder="********">
  
      <button type="submit" name="submit">Entrar</button>
      <h1 class="esqueceu">Esqueci minha senha.</h1>
    </div>

    <div class="linha"></div>

    <div class="cadastrar">
      <label class="texto2">Cadastre-se</label>
      <input class="email" type="text" name="nome" placeholder="E-mail">

      <input type="password" name="senha" placeholder="********">
      <label class="texto2">Confirme a senha</label>
      <input type="password" name="senha" placeholder="********">
  
      <button type="submit" name="submit">Entrar</button>
    </div>
    
  </div>


  
  


</div>
