<div class="container">
  

  <div class="formulario">
    <div class="entrar">
      <label class="texto">Entre</label>
      <input class="email" type="text" name="nome" placeholder="E-mail">

      <input type="password" name="senha" placeholder="********">
  
      <button type="submit" name="submit">Entrar</button>

      <div class="principal">

        <h1 class="esqueceu">Esqueci minha senha.</h1>

        <div class="secundario">

          <h1 class="sem-conta">Não tem uma conta?</h1>
          <h1 (click) = "cadastro()" class="cadastro" >Cadastre-se</h1>
        </div>

      </div>
      
    </div>

   

   
    
  </div>


  
  


</div>
